*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.main-container{
    background-color: rgb(3, 3, 103);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-section{
    background-color: white;
    width: 35vw;
    height: 75vh;
    border-radius: 1em;
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.main-head{
    display: flex;
    gap: 1.2em;
    color:  rgb(3, 3, 103);
    align-self: flex-start;
    margin: 3rem;
}
.head-todo{
    font-size: 1.5em;
}
.main-head i{
    font-size: 1.8em;
}
input::placeholder{
    padding-left: 1.5em;
}
.listed-words{

    display: flex;
    align-self: flex-start;
    gap: 1em;
    justify-content: space-between;
    width: 26.5em;
    margin-top: 3em;
    margin: 15px auto;

}
.common-radio{
    display: flex;
    align-items: center;
    width: 28.5em;
    gap:10px;
}

.rounded-checkbox{
    width:25px;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid rgb(142, 141, 141);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }
 .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: blue;
}

.listed-words i{
    color: rgb(161, 161, 161);
}
.input-box {
    width:70%;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 50px !important;
    background-color: rgb(223, 219, 219);
    border:none;
    padding-left: 20px;
}
.btn{
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 50px;
    width: 133px;
    border-radius: 50px;
    border: none;
    background-color: rgb(208, 58, 7);
}
/* .btn{
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(208, 58, 7);
  } */
/* 
.input-container{
    margin-top: 10px;
    padding: 0;
    border: 1PX solid red;
    width: 30vw;
}
  

  
.input-box{
    background-color: rgb(223, 219, 219);
    border: none;
    /* width: 200px; */
    /* border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 30px;
} */

.input-box:focus {
    outline: none;
}

.input-sub-container{
    width: 450px;
    background-color: rgb(223, 219, 219);
    border: none;
    border-radius: 50px;
  }







