*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container{
    background-color: #f7ebdf;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section{
    background-color: white;
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-radius: 0.7em;
    align-items: center;
    overflow: auto;
}

.sub-section{
    width: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image{
    width: 100%;
    border-radius: 0.7em;
    margin-top: 1.3em;
    margin-bottom: 1.2em;
}

h1{
    font-size: 1.5em;
    margin-bottom: 0.5em;

}

.first-para{
    font-size: 0.7em;
    color: rgb(84, 84, 84);
    line-height: 1.4;
}

.pre-div{
    background-color: rgba(255, 0, 136, 0.05);
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.3em;
    gap: 0.7em;
}

.head-one{
    margin-left: 1em;
    font-size: 0.9em;
    color: rgb(125, 0, 104);
}

.unorder-list-one{
    margin-left: 3.2em;   
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: rgb(84, 84, 84);
    font-size: 0.75em;

}

.unorder-list-one span, .order-list-one span{
    font-weight: bold;
    color: rgb(73, 73, 73);
}

.ingre-div{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-top: 1.2em;
}

.head-two,.head-three,.head-four{
    font-size: 1.4em;
    color: rgb(137, 65, 6);
}

.unorder-list-two, .order-list-one{
    margin-left: 1.3em;   
    font-size: 0.75em;
    color: rgb(84, 84, 84);
}

.first-underline,.second-underline{
    width: 27vw;
    height: 0.1vh;
    background-color: rgba(184, 184, 184, 0.432);
    margin-top: 1.2em;
}

.inst-div{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-top: 1.2em;
}

.order-list-one{
    display: flex;
    flex-direction: column;
    gap: 0.7em;

}

.nutri-div{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-top: 1.2em;
}

.second-para{
    font-size: 0.7em;
    color: rgb(84, 84, 84);
}

.table-section{
    font-size: 0.75em;
    margin-bottom: 1.5em;
}

table{
    width: 100%;
    table-layout: fixed;
    min-width: 100px;
}

td{
    border-bottom: 1px solid  rgba(184, 184, 184, 0.432);
    padding: 10px 20px;
    color: rgb(84, 84, 84);
}

.table-body, .last-table-body{
    color: rgb(137, 65, 6);
    font-weight: bold;
}

.last-body, .last-table-body{
    border: none;
}

